/backend/target/
/frontend/node_modules/
/frontend/dist/
/*-tax-workpaper*.xlsx
/formula-test.xlsx
/U16047828_2025_2025 - Copy.csv
/Excel/U16047828_2025_2025.csv
/Zakon_za_danok_na_dobivka_199_2023.pdf
/Zakon_za_personalniot_danok_na_gohod_190_od_25_12_2017.pdf
/.env